$header()$
<h1>$title$</h1>

$if(list)$
$dropdown(list)$
$endif$

<p>Hello, $name$</p>

A list of fruits:
<ul>
$fruit:{f|	<li>$f$</li>
}$
</ul>

A list of fruits <b>bolded</b>:
<ul>
$fruit:{f|	<li><b>$f$</b></li>
}$
</ul>

A list of fruits <i>italised</i>:
<ul>
$fruit:{f|	<li><i>$f$</i></li>
}$
</ul>

$if(justapples)$ xyz
A list of apples:
<ul>
$justapples:{a|<li>$a$</li>}$
</ul>
$endif$
$if(object)$
$object:{o|<li>$o$->head, $o$->tail</li>}$
$endif$

<h2>How about a table?</h2>

<table class="table">
<tr>
$table_head:{h|<th>$h$</th>}$
</tr>
<tr>
$table_row:{r|<td>$r$</td>}$
<tr>
</table>

$footer()$
